
*{
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0px;
}
.uppergrey{
    background-color: #d9d9d9;
    width: 100%;
    height: 40px;
}

.Navigation{
    max-width: 100%;
    display: flex;
}

.logo-nav{
    margin: 0% 30% 0% 5%;
    display: flex;
    align-items: center;
    max-width: 50%;
}
#logo {
    max-width: 200px;
    max-height: 140px;
}
.Nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 70%;
}
.Nav button{
    margin: 5%;
    background-image: linear-gradient(to right, #d9d9d9, #737373);
    background-size: auto;
    padding: 7px 30px 7px 30px;
    border-radius: 7px;
    color: white;
    border: none;

}
.Nav a{
    text-decoration: none;
    color: white;
}

.lower-grey{
    background-color: #d9d9d9;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-cart{
    display: flex;
    align-items: center;
}
.user-cart div{
    margin: 5%;
}
.user-cart a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.user-cart img{
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 10px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 3px
}

.Logout {
    margin: 5%;
}

.Logout button{
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 0;
}
.Logout img {
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 10px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 3px
}

footer {
    margin: 0px;
    width: 100%;
}
.footer-container{
    width: 100%;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
}
#logo-footer{
    width: 100px;
    height: 100px;
    margin: 0 5% 0 0;
}
.contact{
    margin: 0 2% 0 0;
    width: 100%;
}
.message, .phone, .coins, .human, .handshake{
    display: flex;
    align-items: center;
    margin: 0 5% 0 0;
    font-size: 10px;
    width: 100%;

}
#message, #phone, #coins, #human, #handshake{
    width: 30px;
    height: 30px;
    margin-right: 3%;
}
.background{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.7;
}
.background img{
    width: 700px;
    height: 700px;
}
.Product-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
.order{
    border-collapse: collapse;
    margin: 4%;
    gap: 2%;
    font-size: 16px;
    min-width: 700px;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
}
.order thead tr {
    background-color: #737373;
    color: white;
    
    font-weight: bold;
}
.order th, .order td{
    padding: 12px 15px;

}

.order tbody tr{
    border-bottom: #737373;

}
.order tbody tr:nth-of-type(even){
    background-color: #d9d9d9e6;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Receiptcontainer{
    background-color: #d9d9d9E6;
    width: 350px;
    height: 350px;
    margin: 5% 0 5% 0;
    border-radius: 7px;

}
.total-info-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.total-price {
    display: flex;
    align-self: flex-end;
}
.total-dash {
    text-align: center;
}

.subtotal-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.Cartlist{
    width: 100%;
    margin: 5% 0 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cartcontainer{
    width: 65%;
    height: 150px;
    background-color: #d9d9d9E6;
    display: flex;
    justify-content: flex-start;
    gap: 7%;
    padding: 1%;
    border-radius: 7px;
    margin: 2%;
}
.cartcontainer p{
    color: red;
}
.checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 3% 0 3% 0;   
    
}
.checkoutcontainer{
    background-color: #d9d9d9E6;
    width: 500px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    border-radius: 7px;

}
.checkoutcontainer button{
    background-image: linear-gradient(to right,#d9d9d9, black);
    color: white;
    border: none;
    border-radius: 7px;
    height: 25px;

}
#cartimage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    
}
#cartimage img{
    width: 70px;
    height: 70px;
    border-radius: 7px;
}
.prodinfo {
    flex: 2;
}
.cartcontainer button{
    background-color: black;
    color: white;
    border-radius: 100px;
}
.empty{
    background-color: #d9d9d9E6;
    height: 700px;
    width: 700px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;

}
