*{
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0px;
}
.uppergrey{
    background-color: #d9d9d9;
    width: 100%;
    height: 40px;
}

.Navigation{
    max-width: 100%;
    display: flex;
}

.logo-nav{
    margin: 0% 30% 0% 5%;
    display: flex;
    align-items: center;
    max-width: 50%;
}
#logo {
    max-width: 200px;
    max-height: 140px;
}
.Nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 70%;
}
.Nav div{
    margin: 5%;
    background-image: linear-gradient(to right, #d9d9d9, #737373);
    background-size: auto;
    padding: 7px 30px 7px 30px;
    border-radius: 7px;
    color: white;
}

.lower-grey{
    background-color: #d9d9d9;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-cart{
    display: flex;
    align-items: center;
}
.user-cart div{
    margin: 5%;
}
.user-cart a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.user-cart img{
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 10px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 3px
}

.Cart{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Container {
    height: 110px;
    width: 500px;
    background-color: #d9d9d9E6;
    border-radius: 7px;
    color: rgb(0, 0, 0);
}
#Cart1{
    width: 20px;
    height: 20px;
}
.Fline{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.Fline p{
    font-size: 12px;
    margin-left: 5px;
}
.Fline a{
    display: flex;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50px;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}
.Sline{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.Sline img{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}
.Sline p{
    font-size: 10px;
}
.Sline ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
.Item #Item {
    margin-top: 0px;
}
.Item #Edit {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    
}
.Item #Pesos {
    margin-top: 0px;
    margin-bottom: 0px;
    color: green;
}
.wrapper {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
}
.wrapper span{
    font-size: 10px;
    text-align: center;
    margin: 2px;
    cursor: pointer;
}
.wrapper span.num {
    border-right: 1px solid rgb(0,0,0,0.2);
    border-left: 1px solid rgb(0,0,0,0.2);
    pointer-events: none;
}
.wrapper span.num2 {
    border-right: 1px solid rgb(0,0,0,0.2);
    border-left: 1px solid rgb(0,0,0,0.2);
    pointer-events: none;
}
.wrapper span.num3 {
    border-right: 1px solid rgb(0,0,0,0.2);
    border-left: 1px solid rgb(0,0,0,0.2);
    pointer-events: none;
}
/*
#quantity {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 40px;
    border: 1px solid black;
}
*/
.checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.out {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 300px;
    background-color: #d9d9d9E6;
    border-radius: 7px;
    color: rgb(0, 0, 0);
}
.out #All{
    font-size: 11px;
    margin-left: 8px;
    margin-right: 10px;
}
.out #Sub{
    font-size: 10px;
    margin-right: 10px;
}
.out #total{
    font-size: 10px;
    margin-right: 10px;
    color: red;
}
.out #check{
    font-size: 11px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    
}
footer {
    margin: 0px;
    width: 100%;
    margin-bottom: auto;
}
.footer-container{
    width: 100%;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
}
#logo-footer{
    width: 100px;
    height: 100px;
    margin: 0 5% 0 0;
}
.contact{
    margin: 0 2% 0 0;
    width: 100%;
}
.message, .phone, .coins, .human, .handshake{
    display: flex;
    align-items: center;
    margin: 0 5% 0 0;
    font-size: 10px;
    width: 100%;

}
#message, #phone, #coins, #human, #handshake{
    width: 30px;
    height: 30px;
    margin-right: 3%;
}
.popuplogin {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 3;
}
.overlay {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 68.5dvh;
    position: absolute;
    z-index: 2;
    background: #000000B3;
}
.overlay2 {
    display: none;
    top: 500px;
    left: 0;
    width: 100%;
    height: 75dvh;
    position: absolute;
    z-index: 2;
    background: #000000B3;
}
.closebtn {
    position: absolute;
    border-radius: 100px;
    background-color: black;
    color: white;
    z-index: 1;
    top: 38.5vh;
    left: 133vh;
}

.overlay.active {
    display: flex;
}
.overlay2.active{
    display: flex;
} 
.popuplogin.active{
    display: flex;
}