/* General Styles */
* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0px;
}

/* Header and Footer */
.uppergrey {
    background-color: #d9d9d9;
    width: 100%;
    height: 40px;
}

footer {
    margin: 0px;
    width: 100%;
}

.footer-container {
    width: 100%;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
}

#logo-footer {
    width: 100px;
    height: 100px;
    margin: 0 5% 0 0;
}

.contact {
    margin: 0 2% 0 0;
    width: 100%;
}

.message, .phone, .coins, .human, .handshake {
    display: flex;
    align-items: center;
    margin: 0 5% 0 0;
    font-size: 10px;
    width: 100%;
}

#message, #phone, #coins, #human, #handshake {
    width: 30px;
    height: 30px;
    margin-right: 3%;
}

/* Background */
.background {
    position: absolute;
    z-index: -1;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.background img {
    width: 700px;
    height: 700px;
    opacity: 0.7;
}

/* Signup Form */
.signupcontainer {
    background-color: #d9d9d9E6;
    width: 550px;
    height: 500px;
    margin: 5% 0 5% 0;
    border-radius: 7px;
    padding: 2%;
}

.signupwrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title img {
    width: 30px;
    height: 30px;
    margin-right: 2%;
}

.forgotpassword {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 2% 0 2% 0;
}

.forgotpassword form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgotpassword form input {
    border: none;
    border-radius: 7px;
    height: 30px;
    width: 300px;
    margin-bottom: 5px;
}

.forgotpassword form button {
    border: none;
    border-radius: 7px;
    height: 40px;
    width: 150px;
    background-color: #a0a0a0; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-top: 5px; 
}

.forgotpassword form button:hover {
    background-color: #8c8c8c; 
}

.notification-box {
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb;
    padding: 15px;
    margin-top: 5%; 
    border-radius: 5px; 
    text-align: center;
    width: fit-content; 
    margin-left: auto; 
    margin-right: auto; 
    transform: translateY(-40px); 
    animation: slideDown 0.5s forwards;
}

.notification-box.error {
    background-color: #f8d7da;
    color: #721c24; 
    border-color: #f5c6cb;
    padding: 15px;
    margin-top: 5%; 
    border-radius: 5px; 
    text-align: center;
    width: fit-content; 
    margin-left: auto; 
    margin-right: auto; 
    transform: translateY(-40px); 
    animation: slideDown 0.5s forwards;
}




@keyframes slideDown {
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}