*{
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0px;
}
.uppergrey{
    background-color: #d9d9d9;
    width: 100%;
    height: 40px;
}
footer {
    margin: 0px;
    width: 100%;
}
.footer-container{
    width: 100%;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
}
#logo-footer{
    width: 100px;
    height: 100px;
    margin: 0 5% 0 0;
}
.contact{
    margin: 0 2% 0 0;
    width: 100%;
}
.message, .phone, .coins, .human, .handshake{
    display: flex;
    align-items: center;
    margin: 0 5% 0 0;
    font-size: 10px;
    width: 100%;

}
#message, #phone, #coins, #human, #handshake{
    width: 30px;
    height: 30px;
    margin-right: 3%;
}
.background {
    position: absolute;
    z-index: -1;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.background img{
    width: 700px;
    height: 700px;
    opacity: 0.7;
}
.Purchasecontainer{
    background-color: #d9d9d9E6;
    width: 550px;
    height: 850px;
    margin: 5% 0 5% 0;
    border-radius: 7px;

}
.Purchasewrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title img{
    width: 30px;
    height: 30px;
    margin-right: 2%;
}

.Purchasecontainer form div {
    margin: 0 0 5% 10%;
}

#QrCode {
    height: 100px;
    width: 100px;
}
#receipt{
    height: 200px;
    width: 120px;
}
.Purchasecontainer form div input{
    border: none;
    border-radius: 7px;
    width: 425px;
    height: 25px;
}
#image{
    border: none;
    border-radius: 7px;
    width: 50px;
    height: 50px;
    
}
.Signup{
    color: white;
    background-color: black;
    border-radius: 7px;
    border: none;
    width: 120px;
    height: 25px;
    margin: 0 0 0 10%;
}
.Receiptcontainer{
    background-color: #d9d9d9E6;
    width: 550px;
    height: 350px;
    margin: 5% 0 5% 0;
    border-radius: 7px;

}
.total-info-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.total-price {
    display: flex;
    align-self: flex-end;
}
.total-dash {
    text-align: center;
}

.subtotal-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.size-taurp-price {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.image-upload {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding: 0;
    background: url('../Purchase assets/upload.png') no-repeat center center;
    background-size: contain;
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    cursor: pointer;
    outline: none;

}

/* Optionally, you can hide the default file input text */
.image-upload::-webkit-file-upload-button {
    display: none;
}

.image-upload::before {
    display: block;
    text-align: center;
    color: #333; /* Text color */
    font-weight: bold; /* Font weight */
    line-height: 1.5; /* Adjust line height as needed */
}

